<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="veh" default="husky" />
    <arg name="port" default="/dev/lora_arduino" />
    <arg name="log" default="True" />

    <node name="lora_client_node" pkg="lora_communication" type="lora_client.py" output="screen" required="true">
        <param name="veh" value="$(arg veh)" />
        <param name="port" value="$(arg port)" />
	    <param name="log" value="$(arg log)" />
    </node>

    <!---<node name="estop_control" pkg="control" type="estop_control.py" output="screen"/ -->
    

</launch>
